@import 'libs/functions';
@import 'libs/variables';

// Fonts family
$base-font-family: 'Josefin Sans', sans-serif;

// Font weight
$font-weight-regular: 400;
$font-weight-bold: 700;

// line height
$base-line-height: 1.6;

//font size
$base-font-size: 18px;

$bold-font-size: 14px;
$mobile-default-font-size: 12px;
$desktop-default-font-size: 14px;

a {
  color: inherit;
  text-decoration: none;
  transition: background-color .3s, color .3s;
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  opacity: .8;
}
